body{
	background-color:#333333;
	text-align:center;
	font-family:"Lucida Sans Unicode";
}

header{
	background-color:#777777;
	max-width:1000px;
	margin:30px;
	margin-left:auto;
	margin-right:auto;
}

footer{
	background-color:#777777;
	max-width:1000px;
	margin:30px;
	margin-left:auto;
	margin-right:auto;
}

main{
	background-color:#777777;
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
}

.projects{
	display:inline-grid;
	grid-template-columns: auto auto;
}

.project{
	background-color:#444444;
	height:500px;
	width:350px;
	margin:30px;
	text-align:center;
}